*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    height: 70vh;
    width:70vw;
    background: linear-gradient(45deg,purple,blue);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box1{
    height: 40vh;
    width: 20vw;
    background: rgba(255, 0, 0, 0.559);
    margin: 10px;
    border-radius: 50px;

}
.box2{
    height: 40vh;
    width: 20vw;
    background: rgba(20, 213, 81, 0.729);
    margin: 10px;
    border-radius: 50px;
}