*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    height: 70vh;
    width:70vw;
    background: linear-gradient(45deg,purple,blue);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box1{
    height: 20vh;
    width: 20vw;
    background: red;
    margin: 10px;
}
.box2{
    height: 20vh;
    width: 20vw;
    background: rgb(9, 190, 124);
    margin: 10px;
}